.goods {
    min-height: 1025px;
    background: url(..//img/goods_bg.png) no-repeat;
    background-size: cover;
}
.goods_cards_wrap {
    display: block;
    margin: 60px auto;
}
.slick-slider {
    position: relative;
}
.slick-next {
    position: absolute;
    top: 50%; 
    right: -40px;
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    background-color: transparent;
    background: url(../img/arrow.png) center center/100% no-repeat;
    width: 35px;
    height: 35px;
    outline-color: transparent;
}
.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    font-size: 0;
    border: none;
    background-color: transparent;
    background: url(../img/left-arrow.png) center center/100% no-repeat;
    width: 35px;
    height: 35px;
    outline-color: transparent;
}
@media (max-width: 489px) {
    .cards__slider {
        display: none;
    }
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.slick-slide {
    margin: 0 7px;
}
.cards {
    border: 1px solid #d8d8d8;
    max-width: 305px;
}
.name_price {   
    margin: 15px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.goods_name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.goods_price {
    color: #404040;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.goods_btns {
    display: flex;
    justify-content: center;
}
.goods_btn {
    border: 2px solid #a38b70;
    background-color: #a38b70;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.btn1 {
    margin-right: 5px;
}
.btn2 {
    margin-left: 5px;
}

@media (max-width: 954px) {
    .goods_cards_wrap {
        justify-content: center;
    }
    .goods_card1 {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .goods_card2 {
        margin-left: 10px;
        margin-bottom: 20px;
    }

}
@media (max-width: 745px) {
    .theory_btn {
        display: none;
    } 
    .cards {
        margin-bottom: 90px;
    }
    .goods_card1 {
        margin-left: 15px;
    }
    .goods_card3 {
        margin-left: 15px;
    }
}
@media (max-width: 330px) {
    .goods_title {
        font-size: 30px;
    }
}