header {
    background: url(../img/header_bg.png) center no-repeat;
    background-size: cover;
    min-height: 525px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
}
a {
    color: #000;
    text-decoration: none;
}
.logo_part1 {
    padding-top: 40px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.logo_part1::before {
    content: "";
    position: absolute;
    background: url(../img/header_logo_before.png) center no-repeat;
    width: 51px;
    height: 55px;
    top: 66%;
    left: -90px;
}
.logo_part1::after {
    content: "";
    position: absolute;
    background: url(..//img/header_logo_after.png) center no-repeat;
    top: 110%;
    left: -22px;
    width: 133px;
    height: 27px;
}
.header_nav {
    padding-top: 60px;
}
.header_nav_link {
    margin-right: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.header_nav_link:hover,
.header_nav_link:focus {
    color: #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    transition: all .3s ease;
}
.header_nav_link:last-child {
    margin-right: 0;
}
.header-button {
    padding-top: 60px;
}
.header-btn {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 15px 35px;
}
.header-btn:hover,
.header-btn:focus {
    border: 2px solid #d9d9d9;
    color: #d9d9d9;
    transition: all .3s ease;
}
.main-title {
    display: flex;
    min-height: 440px;
    justify-content: center;
    align-items: center;
    

}
.main-title-text {
    color: #ffffff;
    font-family: Georgia;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

@media (max-width: 1170px) {
    .header-wrap {
        justify-content: space-around;
    }
}
@media (max-width: 1024px) {
    .header-wrap {
        justify-content: center;
    }
    .header_unit {
        margin-right: 40px;
    }
    .header_unit:last-child {
        margin-right: 0;
    }
}
@media (max-width: 870px) {
    .header-wrap {
        flex-direction: column;
        align-items: center;
    }
    .header_logo {
        margin-left: 60px;
    }
    .header_nav {
        margin-top: 30px;
        margin-left: 30px;
    }
    .header_nav_link {
        margin-right: 70px;
        font-size: 25px;
    }
    .header_nav_link:last-child {
        margin-right: 0;
    }
    .header-btn {
        font-size: 25px;
    }
    .main-title-text {
        margin-bottom: 90px;
    }
} 
@media (max-width: 584px) {
    .header_nav_link {
        margin-right: 20px;
    }
    .header_nav_link:last-child {
        margin-right: 0;
    }
    .main-title-text {
        font-size: 35px;
    }
}
@media (max-width: 483px) {
    .header_nav {
        margin-left: 60px;
    }
    .header_nav_link {
        display: block;
        margin-bottom: 30px;
    }
    .header_nav_link:last-child {
        margin-bottom: 0;
    }
    .main-title {
        text-align: center;
    }
}