@import url('core.css');

body {
    max-width: 1920px;
}
main {
    background-color: #fff;
    color: #000;
    transition: .5s;
    min-height: 600px;
}
#night_mode {
    display: none;
}
#night_mode:checked + main {
    transition: .5s;
    background-color: #121212;
    color: #f8f4ec;
}
label {
    display: block;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: bold;
}
.title_block {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.title_block h1 {
    font-size: 40px;
    font-weight: 700;
}
.button_wrap {
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
}
.btn_container {
    display: flex;
    justify-content: center;
}
#my_btn {

    position: absolute;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #1488c7;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

