header {
    min-height: 70px;
    background-color: #010001;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 50px;
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu__item {
    list-style: none;
    position: relative;
}
.menu__item a {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}
.css_unit, .html_unit, .js_unit, .php_unit, .other_unit {
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
}
.submenu li {
    list-style: none;
}
.submenu__item {
    background-color: #010001;
    padding: 10px 15px;
}
.submenu__item:hover {
    background-color: #1B1A1B;
    
}

.main-block {
    display: flex;
    justify-content: center;
    min-height: 500px;
    align-items: center;
}
.main__title {
    flex-basis: 45%;
    text-align: center;
}
.main__text {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 35px;
    padding-bottom: 40px;
}
.text__secondary {
    font-size: 14px;
    opacity: .5;
}