* {
    margin: 0;
    padding: 0;
    max-width: 1368px;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    width: 1368px;
    min-width: 1150px;
}
header {
    height: 545px;
    background: url(img/header_bg.png) no-repeat;
    background-size: cover;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header-flex-row1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 130px;
}
.header-flex-row1 a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
}
.logo {
    flex-basis: 20%;
    padding-left: 30px;
}
.main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart {
    flex-basis: 10%;
}
.header-flex-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img,
.title {
    flex-basis: 30%;
}
.main-img {
    order: 1;
    flex-basis: 25%;
}
.title h1 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    font-weight: bold;
}
.title p {
    color: #283136;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}
.title button {
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    margin-top: 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border: none;
}
.products {
    display: flex;
    min-height: 400px;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 70px;
}
.product {
    flex-basis: 20%;
}   
.product h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    text-align: center;
}
.product p {
    color: #283136;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
}
.product button {
    width: 160px;
    height: 50px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 35px;
    border: none;
    margin-left: 65px;

}
.red button {
    background-color: #fb565a;
}
.green button {
    background-color: #00ca74;
}
.yellow button {
    background-color: #efc84a;
}
hr {
    width: 1160px;
    height: 2px;
    color: #eeeeee;
    margin-top: 80px;
}
.flex-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.first-line {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
}
.second-line {
    color: #283136;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 25px;
}
.company-data {
    order: 2;
}
.company-data p {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 35px;
}
.company-data table {
    margin-top: 40px;
}
.info h2 {
    margin-top: 75px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.info p {
    color: #283136;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 40px;
}
.list-text {
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}
.info ul {
    margin-top: 40px;
    list-style: none;
}
.info ul li {
    margin-top: 30px;
    text-indent: 25px;
    color: #283136;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.info ul li:before {
    content:'+';
    font-family: 'Shojumaru', cursive;
    font-size: 30px;
    position: relative;
    left: -20px;
    top: 5px;
}
.flex-ref {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-left: 35px;
}
.partner {
    min-height: 52px;
}
.ref-hr {
    width: 1160px;
    height: 2px;
    color: #eeeeee;
    margin-top: 60px;
}
.map {
    margin-top: 80px;
}
.nerds-logo {
    position: absolute;
    left: 770px;
    top: 2000px;
}
.address {
    width: 319px;
    height: 308px;
    background-color: #ffffff;
    position: absolute;
    top: 1950px;
    left: 125px;
    text-align: center;
}
.address h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 50px;
}
.address p {
    margin-top: 35px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.address button {
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    margin-top: 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border: none;
    text-transform: uppercase;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}
.footer-text {
    order: 2;
}
.footer-text h2 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}
.footer-text p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 15px;
}
.social-block {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-left: 10px;
}
.vk::before {
    content: "";
    position: relative;
    color: blue;
    width: 20px;
    height: 20px;
    background: url(img/vk-icon.png) no-repeat;


}